python-dotenv
jupyter
pandas
numpy
openai
langchain
langchainhub
langchain-experimental
langchain-openai
langchain-community
faiss-cpu
gradio
kagglehub
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
beautifulsoup4
langchain
tavily-python
gradio_client
tiktoken
mysql-connector-python
sqlalchemy
streamlit
plotly
tabulate
crewai
